<div class="menu-bar">
  <img class="menu-bar__logo" src="/assets/coril-logo.svg" alt="logo" />
  <div class="menu-bar__info">
    <span class="menu-bar__info menu-bar__title"> Bienvenido! </span>
    <span class="menu-bar__info menu-bar__subtitle">
      {{ userName }}
    </span>
  </div>

  <div class="menu-bar__options">
    <button *ngFor="let cat of categories" class="menu-bar__button">
      <mat-icon
        class="menu-bar__button menu-bar__button-icon"
        svgIcon="{{ cat.icon }}"
        aria-hidden="true"
      ></mat-icon>
      <span class="menu-bar__button menu-bar__button-name">
        {{ cat.name }}
      </span>
    </button>
  </div>

  <div class="menu-bar__logout">
    <button class="menu-bar__logout-button">
    <mat-icon
      class="menu-bar__logout-button menu-bar__logout-button-icon"
      svgIcon="logout"
      aria-hidden="true"
    ></mat-icon>
    <span class="menu-bar__logout-button menu-bar__logout-button-name"> Cerrar Sesión</span>
    </button>
  </div>
</div>
