/*
Container Size
*/

$menubar-width: 19rem;
$navbar-height: 5rem;

/*
 Base Colors
*/

$primary-color: #0a3d8d;
$secondary-color: #14205b;
$tertiary-color: #1164e7;
$background-color: #f3f3fa;
$success-color: #12ac59;
$warning-color: #f6921e;
$warning-alt-color: #dd7906;
$white-ff: rgb(238, 235, 235);

/*
  Font Weight
*/

$font-size-xs: .7rem;
$font-size-sm: 1rem;
$font-size-md: 1.5rem;

/*
  Border Radius
*/

$border-radius-xs: 5px;